server:
  port: 8080
  servlet:
    context-path: /quest-engine

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/quest_engine
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create

    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        dialect: org.hibernate.dialect.PostgreSQL94Dialect